
body{
    width: 100vw;
    height: auto;
    margin: 0px;
    display: grid;
    background-color: #4a4a4a;
    
}
body > *{
    width: 100vw;
}


header{
    grid-area:hd;
    background-color:rgb(0, 0, 0,0);
    height: min-content;
    
    z-index: 9;
    position:fixed;
    transition: background-color 0.3s ease-in-out, padding-top 0.3s ease-in-out;
    
    display: flex;
    justify-content:end;
    border-bottom-style: none;
    border:rgb(1, 1, 1, 0);
    padding-top: 10px;
}

.title{
    grid-area: tit;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    color: rgb(240, 248, 255,0.5);
    overflow-wrap: anywhere;
    font-size:min(14vw,15vh);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.title > *{margin:0px; color: rgb(240, 248, 255,0.5)}
.title > .placename {position: absolute; margin: auto auto auto 25vw; font-size: 7vw; text-shadow:0px 0px 15px rgba(0, 0, 0, 0.8);}


.menubutton{margin: 5px 15px 5px 5px ;height: 35px;}

.menu{
    position: fixed;
    display: block;
    height: 100vh;
    width: 100vw;
    z-index: 9;
    left:0px;
    background-color: rgb(0, 0, 0,0.8);
    transition: background-color 0.3s ease-in-out;
}
.menu > div {height: 100%;display: flex; flex-direction: column;align-items: center; justify-content: center;}
.menu p{font-size: 30px; margin: 3vh; transition: color 0.3s ease-in-out,background-color 0.3s ease-in-out;}
.menu > div > p{text-decoration: underline;}

.headbok{display: block; background-color:rgba(208,182,147,1); border-radius: 3px; padding: 7px; color:#2f2f2f; font-weight:900;}

p{font-family:'inter'; color: rgba(235, 220, 205, 1);font-size: 14px;}
a{color: inherit;text-decoration: none;}
hr{width: 92vw; border:none;border-top: burlywood dashed 2px;}
img{border-radius: 5px;}


footer{
    grid-area: fot;
    background: #4a4a4a;
    background: linear-gradient(0deg, rgba(74, 74, 74, 1) 0%, rgba(44, 44, 44, 1) 100%);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: auto;
    color: rgb(235, 220, 205);
    padding:5vw 0vw 5vw 0vw;
}
footer > p{font-size: 25px;}


.larger{
    font-weight: bolder;
    display: block;
    text-align: center;
}

.darkbg{
    background-color: rgb(0, 0, 0,0.5);
    border-radius: 5px;
    padding: 3px;
}

.button{
    display: block;
    background-color:rgb(208,182,147);
    color: #2f2f2f;
    width: max-content;
    padding: 10px;
    text-shadow: none;
    font-weight: bolder;
}
.button:hover{color: rgb(75, 75, 75);background-color:rgb(235, 206, 168);}



/* INDEX */

#indextitle{background-image: url(/img/mostafa_meraji-barber-shop-5212059_1920.jpg);}

#index{
    grid-template-areas:
    "hd"
    "tit"
    "sal"
    "inf"
    "opp"
    "fot";
}

#salonger{
    grid-area: sal;
    display: unset;
    font-size: 20px;
    background-color: #2c2c2c;
}

.salong{
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:space-evenly;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    text-shadow: 2px 2px 4px black;
}

#salong1{background-image: url(/img/iffany-hairdressers-8848868_1280.png);}
#salong2{background-image: url(/img/2Victor-Noblesse-high-51___media_library_original_4000_2668.jpg);}

#indexinfobox{
    grid-area: inf;
    background-color: #2c2c2c;
}

#indexinfobox > div{
    display: flex;
    justify-content: space-between;
    margin: 6vw auto 6vw auto;
    background-color:#4a4a4a;
    width: 80vw;
}

.indexinfotextbox{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30vw;
    margin: 0vw 3vw 0vw 3vw;
    font-size: 15px;
}

#oppentider{
    grid-area: opp;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #2c2c2c;
    height:auto;
}
#oppentider > .larger{margin: 0px;}
#oppentider > div{display: flex; justify-content: space-between;}



/* SALONGER */
/* SALONGER > salongspesefikt */
#domkyrkantitle{background-image: url(/img/iffany-hairdressers-8848868_1280.png);}
#johannebergtitle{background-image: url(/img/2Victor-Noblesse-high-51___media_library_original_4000_2668.jpg);}




/* SALONGER > allmänt */
.salongbody{
    grid-template-areas:
    "hd"
    "tit"
    "pinf"
    "pep"
    "hit"
    "fot";
}

.placename {position: absolute;}

.platsinfo{
    grid-area: pinf;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
}
.platsinfo > img{box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}
.platsinfo > div{display:flex; flex-direction: column; align-items: center; font-size: 13px;}
.platsinfo > div > .larger{margin-bottom: 5px;}
.platsinfo > div > div{text-align: center;}
.platsinfo > div > div > p{font-size: 22px;}
.platsinfo > div > div > div{display: flex; justify-content: space-between; margin-top: -30px;}

.personer{
    grid-area: pep;
    background-color:#2c2c2c;
}

.hittahit{
    grid-area: hit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: fit-content;
}
#spacer{background-color: #2c2c2c; width: 100%;}


/* TJANSTER */
#tjanstertitle{background-image: url(/img/1guvo59-hairdresser-4666064.jpg);}


#tjansterbody{
    grid-template-areas:
    "hd"
    "tit"
    "tja"
    "fot";
}

#tjanster{
    grid-area: tja;
    height: auto;
    background-color: #2c2c2c;
    padding-bottom: 100px;
}

#tjanster > div > p {width: 100%; margin: 100px 0px -10px 0px; text-align: left; font-size: 25px;}
#tjanster > div {display: flex; flex-direction: row;  flex-wrap: wrap; justify-content: space-between; margin: auto;}
#tjanster > div > div{display: flex; flex-direction: row; justify-content: space-between; border-bottom: 2px solid rgb(54, 54, 54);}
#tjanster > div > div > p{margin: 40px 0px 1px 0px;}

/* OM OSS */
#omosstitle{background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)),url(/img/image.jpg);}

#omossbody{
    grid-template-areas:
    "hd"
    "tit"
    "omo"
    "fot";
}

#omoss{grid-area: omo; background-color: #2c2c2c;}
#omoss > div {max-width: 100%; width: min-content;display: flex; justify-content: space-between;}
#omoss > div > div{display: flex; flex-direction: column; justify-content: center;align-items: start;}
#omoss > div > div > .larger{font-size: 40px;}

/* BOKA TID */
#bokatidtitle{background-image: url(/img/mostafa_meraji-barber-shop-6797761\ -\ Copy.jpg); height: 100vh;}

#bokatidbody{
    grid-template-areas:
    "hd"
    "tit";
}

#bokatidtitle > div{position:absolute; margin: auto auto auto 25vw; text-align: center;}
#bokatidtitle > div > p{letter-spacing: 1px; font-size: 25px; margin: 0px;}
#bokatidtitle > div > a > p{display: block; background-color:rgb(208,182,147); padding: 15px 8vw 15px 8vw; letter-spacing: 3px; font-size: 17px; color: #2f2f2f; margin: 17px;}


/* ---MOBILE--- */
@media screen and (max-width:750px) {
    
    header > div * {display: none;}
    header > div > * {margin:0px 0px 0px 5vw;}
    
    .menu > ul > li > p {text-decoration: underline;}
    .menu > ul > li * {width: max-content;}
    
    h1{font-size: 30vw}
    .button{font-size: 20px;}
    .larger{font-size:30px;}
    .menubutton{display:block;}
    .title{justify-content: center; height: 95vh;font-size: 3.7vw;align-items: center;}
    
    
    /* INDEX */
    #salonger{display: block; font-size: 15px;}
    .salong{margin:20vw 5vw 20vw 5vw;}
    #indexinfobox{padding-bottom: 10vw;}
    #indexinfobox > div{flex-direction: column;padding:1.5vw; align-items: center;width:85vw;margin:20vw auto 10vw auto;}
    #indexinfobox > div > div{width: 90%;font-size: 15px;}
    #indexinfobox >div> img{width: 80vw; margin-top: 2.5vw;} /*images för indexinfo*/
    #oppentider > div{font-size: 15px; width: 80vw;}
    #flip{flex-direction: column;}

    
    /* SALONGER */
    #domkyrkantitle > .placename {margin: auto auto 4% auto; font-size: 10vw;}
    #johannebergtitle > .placename {margin: auto auto 4% auto; font-size: 10vw;}
    #tjanstertitle > .placename {margin: auto auto 4% auto; font-size: 13vw;}
    #omosstitle > .placename {margin: auto auto 4% auto; font-size: 13vw;}
    
    .platsinfo{flex-direction: column; padding: 22vw 0px 10vw 0px;}
    .platsinfo > img{width: 90vw; height: auto; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}
    .platsinfo > div{width: 85vw;}
    .platsinfo > div > div{width: 80vw;}    
    
    .personer{padding-bottom: 15vw;}
    .personer > div{background-color: #4a4a4a; width:min-content; margin: 15vw auto 15vw auto; padding: 2.5vw 0vh 2.5vw 0vh; display: flex;flex-direction: column; justify-content: space-between; align-items: center;}
    .personer > div > div {width: 85vw; margin:0px 2vw 0px 2vw; font-size: 15px;}
    .personer > div > img{width: 85vw;}
    
    .hittahit{flex-direction: column;}
    iframe{width: 90vw; height:40vh; display: block; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;margin-left: 4vw;}
    .hittahit > div{width: 80vw; display: flex; flex-direction: column; align-items: center; margin: 5vw auto 0px auto;}
    .hittahit > div > p{margin: 0px;}
    .hittahit > div > div{display: flex; justify-content: space-between; width:100%;}
    #spacer{display: block; height: 25vw; margin-top:12vw;}


     /* TJANSTER */
    #tjanster > div {width: 80vw;}
    #tjanster > div > div{width: 100%;}

        /* OM OSS */
    #omoss > div {flex-direction: column; margin: 100px auto 100px auto;}
    #omoss > div > img{width:80vw;}
    #omoss > div > div{width: 80vw;}
    #omoss > div > div > .larger{margin: 25px auto 0px auto;}

    /* BOKA TID */
    #bokatidtitle > p{display: none;}
    #bokatidtitle > h1{display: none;}
    #bokatidtitle > div{margin: auto;}
}


/* ---DESKTOP--- */
@media screen and (min-width:750px) {
    
    header > div > p {text-decoration: underline;}
    header > div p {font-size: 16px; letter-spacing: 1px; font-weight: 1; margin-top: 8px; margin-bottom: 8px;}
    .headboka{display: block; background-color:rgb(208,182,147); border-radius: 3px; padding: 7px; color:#2f2f2f; font-weight:900;}
    header > div {width: 100%; display: flex; align-items: center;}
    header > div > * {margin:0px 0px 0px 5vw;}
    
    .button{font-size: max(1.5vw,20px);}
    .larger{font-size: min(max(2.5vw,30px),45px);}
    
    .menubutton{display:none;}
    .menu{display: none;}
    .menu *{display: none;}
    
    
    .title{height: 95vh;justify-content: center;align-items: center;}
    .title > p{font-size:25px;margin-top: -30px;}
    .title > *{margin-right: 55vw}
    
    
    /* INDEX */
    #salonger{display: flex;justify-content: space-around;}
    #salonger > *{width: 40vw;margin: 5vw;font-size: max(1vw,15px);}
    
    #indexinfobox{padding-bottom: 5vw;}
    #indexinfobox>div{padding: 2.5vw 0vh 2.5vw 5vh;}
    #indexinfobox >div> img{width: 45vw;} /*images för indexinfo*/
    #indexinfobox > #flip{flex-direction: row-reverse;padding: 2.5vw 5vh 2.5vw 0vh;}
    
    #oppentider > div{font-size:max(1vw,15px); width: 30vw;}
    #oppentider > a >*{margin: 2.5vw 0px 0px 0px;}
    
    
    /* SALONGER */
    .platsinfo{flex-direction: row; padding: 4vw 0px 4vw 0px;}
    .platsinfo > img{width: 46vw; min-height: 90%; margin-left: 4vw; object-fit: cover;}
    .platsinfo > div{width:30vw; margin-right: 10vw}
    .platsinfo > div > div{width: 100%;}
    
    .personer > div{background-color: #4a4a4a; width:min-content; margin: 3vw auto 3vw auto; padding: 2.5vw 0vh 2.5vw 5vh; display: flex; justify-content: space-between;}
    .personer > div > div {width: 25vw; margin:0px 2.5vw 0px 2.5vw; font-size: 15px;}
    .personer > div > img{width: 35vw; object-fit: cover;}
    
    .hittahit{flex-direction:row; padding-bottom: 5vw;}
    iframe{width: 46vw; min-height:25vw; display: block; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;margin-left: 4vw;}
    .hittahit > p{width: 100%;}
    .hittahit > div{max-width:500px; min-width:220px; width: 30vw; display: flex; flex-direction: column; align-items: center; margin: 0px auto 0px auto;}
    .hittahit > div > p{margin: 0px;}
    .hittahit > div > div{display: flex; justify-content: space-between; width:100%;}
    #spacer{display:none}


    /* TJANSTER */
    #tjanstertitle{height:50vh;}

    #tjanster > div {width: 80vw;}
    #tjanster > div > div{width: 47%;}
    

    /* OM OSS */
    #omosstitle{height:50vh;}
    #omoss > div {flex-direction: row; margin: 150px auto 150px auto;}
    #omoss > div > img{max-height: min(75vh,55vw);}
    #omoss > div > div{max-width: 50%; width: 50vw;}
    #omoss > div > div > .larger{margin: 0px;}
    #omoss > #reverse{flex-direction: row-reverse;}


    /* BOKA TID */
    #bokatidtitle > div{position:absolute; margin: auto auto auto 25vw; text-align: center;}

    
    /* ---JAVA SCRIPT--- */
    .viewheader {
        background-color:rgb(74, 74, 74, 1);
        border:rgb(144, 144, 144, 1);
        border-bottom-style: solid;
        border-width: 1px;
        padding-top: 0px;
    }
}




/* ---JAVA SCRIPT--- */
.hide{
    background-color: rgb(0, 0, 0,0);
    left: -100vw;
}
.hidee{color: rgba(235, 220, 205, 0); background-color: rgba(208,182,147,0);}