
body{
    width: 100vw;
    height: auto;
    margin: 0px;
    display: grid;
    
}

#index{
    grid-template-areas:
    "hd"
    "tit"
    "sal"
    "inf"
    "tim"
    "fot";
}

body > *{
    width: 100vw;
}

header{
    grid-area:hd;
    background-color:rgb(35, 51, 51,0);
    height: 6vh;

    top: 0;
    position:fixed;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    justify-content:end;
}

.menu{
    z-index: 10;
    left: -100vw;
    width: 80vw;
    height: 100vh;
    position: fixed;
    transition: left 0.3s;
    background-color: hotpink;
}
.fadelayer{
    position: fixed;
    display: none;
    height: 100vh;
    width: 100vw;
    z-index: 9;
    background: rgb(0, 0, 0,0.5);
}

.title{
    grid-area: tit;
    background-image: url(/img/mostafa_meraji-barber-shop-5212059_1920.jpg);
    background-position: center;
    background-size: cover;
    height: 85vh;
    display: flex;
    flex-wrap:wrap;
    color: rgb(240, 248, 255,0.5);
    align-items: center;
    overflow-wrap: anywhere;
    font-size:min(30vw,15vh);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1{margin:0px;}
p{font-family:'inter';}
a{color: inherit;text-decoration: none;}

#salonger{
    grid-area: sal;
    background-color: rgb(65, 65, 65);
    display: unset;
    font-size: 20px;
}

#indexinfobox{
    grid-area: inf;
    background-color: blueviolet;
}
#indexinfobox > *{ /*istället för en subclass*/
}

#indexinfo1{}
#indexinfo2{}


#indexoppentider{
    grid-area: tim;
    background-color: burlywood;
}

footer{
    grid-area: fot;
    background-color: wheat;
}

#salong1{background-image: url(/img/iffany-hairdressers-8848868_1280.png);}
#salong2{background-image: url(/img/iffany2-hairdressers-8848870_1280.png);}

.salong{
    background-position: center;
    background-size: cover;
    color: antiquewhite;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    text-shadow: 2px 2px 4px black;
}


.larger{
    font-weight: bolder;
    display: block;
    background-color: rgb(0, 0, 0,0.5);
    border-radius: 5px;
    padding: 3px;
}

.button{
    display: block;
    background-color:burlywood;
    color: rgb(47, 47, 47);
    width: max-content;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px;
    text-shadow: none;
    font-weight: bolder;
}
.button:hover{color: rgb(75, 75, 75);background-color:rgb(232, 194, 145);}


/* ---MOBILE--- */
@media screen and (max-width:750px) {
    
    .title{
        justify-content: center;
    }

    #salonger{
        display: block;
    }
    .salong{
        margin: 10vw;
    }
    .button{font-size: 30px;}
    .larger{font-size:45px;}

    #indexinfobox{height: 150vh;}

    #indexoppentider{
        height: 50vh;
    }

    footer{
        height: 50vh;
    }

    .menubutton{
    display:block;
    margin: 5px 15px 5px 5px ;
    }
    
}


/* ---DESKTOP--- */
@media screen and (min-width:750px) {
    body > *{}

    header{}

    .title{}

    .title > *{
        margin-left: 143px;
    }

    #salonger{
        display: flex;
        justify-content: space-around;
    }

    .salong{
        width: 40vw;
        margin: 5vw;
        font-size: max(1vw,15px);
    }
    .button{font-size: max(1.8vw,25px);}
    .larger{font-size: max(2.6vw,35px);}


    #indexinfobox{
        height: 150vh;
    }

    #indexoppentider{
        height: 50vh;
    }

    footer{
        height: 50vh;
    }

    .menubutton{
    display:block;
    margin: 5px 15px 5px 5px ;
    }
    
}




/* ---JAVA SCRIPT--- */
.showmenu{
    left: 0;
}
.visible{
    display: block;
}
.viewheader {
  background-color:rgb(35, 51, 51, 1);
}
