
body{
    width: 100vw;
    height: auto;
    margin: 0px;
    display: grid;
    background-color: #4a4a4a;
    
}

#index{
    grid-template-areas:
    "hd"
    "tit"
    "sal"
    "inf"
    "tim"
    "fot";
}

body > *{
    width: 100vw;
}

header{
    grid-area:hd;
    background-color:rgb(0, 0, 0,0);
    height: 6vh;

    top: 0;
    position:fixed;
    transition: background-color 0.3s ease-in-out;
    
    display: flex;
    justify-content:end;
    border-bottom-style: none;
    border:rgb(1, 1, 1, 0);
}

.menu{
    z-index: 10;
    left: -100vw;
    width: 80vw;
    height: 100vh;
    position: fixed;
    transition: left 0.3s;
    background-color: hotpink;
}
.fadelayer{
    position: fixed;
    display: none;
    height: 100vh;
    width: 100vw;
    z-index: 9;
    background: rgb(0, 0, 0,0.5);
}

.title{
    grid-area: tit;
    background-image: url(/img/mostafa_meraji-barber-shop-5212059_1920.jpg);
    background-position: center;
    background-size: cover;
    height: 85vh;
    display: flex;
    flex-wrap:wrap;
    color: rgb(240, 248, 255,0.5);
    align-items: center;
    overflow-wrap: anywhere;
    font-size:min(30vw,15vh);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1{margin:0px;}
p{font-family:'inter';}
a{color: inherit;text-decoration: none;}
hr{width: 92vw; border:none;border-top: burlywood dashed 2px;}

#salonger{
    grid-area: sal;
    background-color: #2c2c2c;
    display: unset;
    font-size: 20px;
}

.salong{
    background-position: center;
    background-size: cover;
    color: antiquewhite;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:space-evenly;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    text-shadow: 2px 2px 4px black;
}

#salong1{background-image: url(/img/iffany-hairdressers-8848868_1280.png);}
#salong2{background-image: url(/img/iffany2-hairdressers-8848870_1280.png);}

#indexinfobox{
    grid-area: inf;
    background-color: #2c2c2c;
    /* rgb(234, 210, 162); */
    /* rgb(239, 230, 199); */
    
}

#indexinfobox > div{ /*istället för en subclass*/
    display: flex;
    justify-content: space-between;
    margin: 6vw auto 6vw auto;
    background-color:#4a4a4a;
    width: 80vw;
}

.indexinfotextbox{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30vw;
    margin: 0vw 3vw 0vw 3vw;
    font-size: 15px;
    color: rgb(235, 220, 205);
}


#indexoppentider{
    color: antiquewhite;
    grid-area: tim;
    background-color: #2c2c2c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: max(40vh,auto);
    padding-bottom: 5vw;    
}
#indexoppentider > .larger{margin: 0px;}
#indexoppentider > div{display: flex; justify-content: space-between;}

footer{
    grid-area: fot;
    background-color:#4a4a4a;
    flex-direction: column;
    align-items: center;
    display: flex;
    height: auto;
    font-size: 25px;
}




.larger{
    font-weight: bolder;
    display: block;
}
.darkbg{
    background-color: rgb(0, 0, 0,0.5);
    border-radius: 5px;
    padding: 3px;
}

.button{
    display: block;
    background-color:rgb(208,182,147);
    color: rgb(47, 47, 47);
    width: max-content;
    padding: 10px;
    text-shadow: none;
    font-weight: bolder;
}
.button:hover{color: rgb(75, 75, 75);background-color:rgb(235, 206, 168);}


/* ---MOBILE--- */
@media screen and (max-width:750px) {
    
    .title{
        justify-content: center;
    }

    #salonger{
        display: block;
    }

    .salong{
        margin: 10vw;
    }
    .button{font-size: 25px;}
    .larger{font-size:40px;}
    

    #indexinfobox > div{flex-direction: column;padding:2vw; align-items: center;}
    #indexinfobox > div > div{width: 80%;font-size: 20px;}
    #flip{flex-direction: column;}
    #indexinfobox >div> img{width: 80vw;} /*images för indexinfo*/


    #indexoppentider{}
    #indexoppentider > div{font-size: 20px; width: 80vw;}

    footer{}

    .menubutton{
    display:block;
    margin: 5px 15px 5px 5px ;
    }
    
}


/* ---DESKTOP--- */
@media screen and (min-width:750px) {
    body > *{}

    header{}

    .title{}

    .title > *{
        margin-left: 143px;
    }

    #salonger{
        display: flex;
        justify-content: space-around;
    }

    #indexinfobox>div{padding: 2.5vw 0vh 2.5vw 5vh;}
    #flip{flex-direction: row-reverse;padding: 2.5vw 5vh 2.5vw 0vh !important;}
    #indexinfobox >div> img{width: 45vw;} /*images för indexinfo*/



    #salonger > *{
        width: 40vw;
        margin: 5vw;
        font-size: max(1vw,15px);
    }
    .button{font-size: max(1.8vw,25px);}
    .larger{font-size: max(2.6vw,35px);}


    #indexinfobox{
        height: auto;
    }

    #indexoppentider{}
    #indexoppentider > div{font-size:max(1vw,15px); width: 30vw;}

    footer{}

    .menubutton{
    display:block;
    margin: 5px 15px 5px 5px ;
    }
    
}




/* ---JAVA SCRIPT--- */
.showmenu{
    left: 0;
}
.visible{
    display: block;
}
.viewheader {
  background-color:rgb(74, 74, 74, 1);
  border:rgb(144, 144, 144, 1);
  border-bottom-style: solid;
  border-width: 1px;
}
